<% provide(:title, "Log in | #{default_title}") %>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4 auth-form-container">
    <h1 class="page-header text-center">Log in</h1>
    <div class="well">
      <%= form_for :session, url: login_path, html: {role: 'form'} do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group text-center btn-container">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
