<% provide(:title, "Profile | #{default_title}") %>

<div class="row">
  <div class="col-lg-8">
    <h1 class="page-header"><%= @user.name %>'s profile</h1>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><%= @user.name %></h4>
        <% if current_user == @user %>
          <p><b><%= @user.email %></b></p>
        <% end %>
        <p>
          <small>
            registered at <%= @user.created_at.to_datetime.to_s(:long) %>
          </small>
        </p>
        <% if current_user == @user %>
          <div class="btn-container">
            <%= link_to 'Edit profile', edit_user_path,
              class: 'btn btn-primary' %>
            <small>
              <%= link_to 'Delete account'.html_safe, user_path,
                          method: :delete,
                          data: { confirm: "Delete account?" } %>
            </small>
          </div>
        <% end %>
        <div class="btn-container">
          <%= link_to 'Blog', blog_path(@user.name) %>
        </div>
        <% if logged_in? %>
          <div class="btn-container">
            <%= link_to '<small><span class="glyphicon glyphicon-menu-left"></span></small> All users'.html_safe,
              users_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
