<% provide(:title, "Profile | #{@user.name}") %>

<h1>Users#show</h1>

<b><%= @user.name %></b><br>
<%= @user.email %><br>
<%= link_to "Blog", blog_path(author: @user.name) %>
<% if current_user == @user %>
    | <%= link_to "Edit", edit_user_path %>
    | <%= link_to "Delete", user_path, method: :delete %>
<% end %>
<br>
<br>
<% if logged_in? %>
  <%= link_to "Users", users_path %>
<% end %>
