<% provide(:title, "Simpleblog") %>

<h1>Home#index</h1>

<% @posts.each do |post| %>
    <b><%= post.title %></b><br>
    by <%= post.author.name %><br>
    <%= post.created_at.to_datetime.to_s(:long) %><br>
    <%= post.text %><br>
    <%= link_to "Show", blog_post_path(author: post.author.name, id: post) %> |
    <%= link_to "Edit", edit_post_path(post) %> |
    <%= link_to "Delete", post_path(post), method: :delete %> <br>
    <br>
<% end %>