<h2>
  <%= link_to post.title, blog_post_path(post.author.name, post) %>
</h2>
<p class="post-datetime">
  <span class="glyphicon glyphicon-time"></span>
  <%= post.created_at.to_datetime.to_s(:long) %>
</p>
<p>
  <%= simple_format(post.text) %>
</p>
<div class="btn-container">
  <%= link_to 'View', blog_post_path(post.author.name, post) %>
  <% if current_user == post.author %>

      <%= link_to '<span class="glyphicon glyphicon-pencil small"></span>'.html_safe,
                  edit_post_path(post) %>

      <%= link_to '<span class="glyphicon glyphicon-remove small"></span>'.html_safe,
                  post_path(post),
                  method: :delete,
                  class: 'pull-right',
                  data: { confirm: "Delete post?" } %>
  <% end %>
</div>
<hr>
