<% provide(:title, "#{@author.name} | #{default_title}") %>

<div class="row">
  <div class="col-md-8">
    <h1 class="page-header">
      <%= @author.name %>'s blog
      <small>Recent posts</small>
    </h1>
    <div class="media lead">
      <%= link_to image_tag(@author.picture.url, class: 'media-object'),
                  user_path(@author), class: 'pull-left' %>
      <div class="media-body">
        <p>
          <%= link_to 'Profile'.html_safe,
                      user_path(@author) %>
        </p>
      </div>
    </div>
    <hr>

    <%= render @posts %>
    <%= render partial: 'shared/posts_pagination', locals: {posts: @posts} %>

    <div class="btn-container">
      <%= link_to '<span class="glyphicon glyphicon-menu-left small"></span> Home'.html_safe,
                  root_path %>
    </div>
  </div>
</div>
