<% provide(:title, "#{@post.title}") %>

<div class="row">
  <div class="col-lg-8">
    <h1 class="page-header"><%= @post.title %></h1>
    <p class="lead">
      by <%= link_to @post.author.name, blog_path(@post.author.name) %>
    </p>
    <p class="post-datetime">
      <span class="glyphicon glyphicon-time"></span>
      <%= @post.created_at.to_datetime.to_s(:long) %>
    </p>
    <p>
      <%= simple_format(@post.text) %>
    </p>

    <% if current_user == @post.author %>
      <div class="btn-container">
        <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
        <small>
          <%= link_to 'Delete post',
                      post_path(@post),
                      method: :delete,
                      data: { confirm: "Delete post?" } %>
        </small>
      </div>
    <% end %>

    <!-- Comments -->
    <% if logged_in? %>
        <hr>
        <%= render 'comments/form' %>
    <% else  %>
        <br>
        <%= link_to "Log in to leave a comment", login_path %>
    <% end %>
    <hr>
    <% if @post.comments.any? %>
      <% @post.comments.order(created_at: :asc).each do |comment| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to comment.author.name, user_path(comment.author) %>
              <small><%= comment.created_at.to_datetime.to_s(:long) %></small>
            </h4>
            <%= comment.text %>
            <% if current_user == comment.author %>
            <small>
              <%= link_to "Delete", comment_path(comment), method: :delete %>
            </small>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>
    <% end %>

    <div class="btn-container">
      <%= link_to '<span class="glyphicon glyphicon-menu-left small"></span>' \
                ' All posts'.html_safe,
                  blog_path(@post.author.name) %>
    </div>
  </div>
</div>
