<% provide(:title, "#{@post.title}") %>

<h1>Posts#show</h1>

<b><%= @post.title %></b><br>
by <%= @post.author.name %><br>
<%= @post.created_at.to_datetime.to_s(:long) %><br>
<%= @post.text %><br>
<br>
<%= link_to "Edit", edit_post_path(@post) %> |
<%= link_to "Delete", post_path(@post), method: :delete %><br>
<br>

<%= link_to "#{@post.author.name}'s blog", blog_path(@post.author.name) %><br>
