<% provide(:title, "#{@post.title}") %>

<div class="row">
  <div class="col-lg-8">
    <h1 class="page-header"><%= @post.title %></h1>
    <p class="lead">
      by <%= link_to @post.author.name, blog_path(@post.author.name) %>
    </p>
    <p class="post-datetime">
      <span class="glyphicon glyphicon-time"></span>
      <%= @post.created_at.to_datetime.to_s(:long) %>
    </p>
    <p>
      <%= simple_format(@post.text) %>
    </p>
  </div>
</div>

<% if current_user == @post.author %>
  <div class="btn-container">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
    <small>
      <%= link_to 'Delete post',
                  post_path(@post),
                  method: :delete,
                  data: { confirm: "Delete post?" } %>
    </small>
</div>
<% end %>

<% if @post.comments.any? %>
  <h3>Comments (<%= @post.comments.size %>)</h3>
  <% @post.comments.each do |comment| %>
    <%= comment.created_at.to_datetime.to_s(:long) %>
    by <%= comment.author.name %><br>
    <%= comment.text %><br>
    <% if current_user == comment.author %>
        <%= link_to "Delete", comment_path(comment), method: :delete %><br>
    <% end %>
    <br>
  <% end %>
<% end %>

<% if logged_in? %>
  <h3>Add a comment</h3>
  <%= render 'comments/form' %>
<% else  %>
  <%= link_to "Log in to add a comment", login_path %>
<% end %>

<div class="btn-container">
  <%= link_to '<span class="glyphicon glyphicon-menu-left small"></span>' \
                ' All posts'.html_safe,
              blog_path(@post.author.name) %>
</div>
