<% provide(:title, "#{@post.title}") %>

<div class="row">
  <div class="col-lg-8">
    <h1 class="page-header"><%= @post.title %></h1>
    <p class="lead">
      by <%= link_to @post.author.name, user_path(@post.author) %>
    </p>
    <p class="post-datetime"><span class="glyphicon glyphicon-time"></span> <%= @post.created_at.to_datetime.to_s(:long) %></p>
    <p>
      <%= @post.text %>
    </p>
  </div>
</div>
<% if current_user == @post.author %>
  <div class="btn-container">
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-primary' %>
    <%= link_to ('<small>Delete post</small>').html_safe,
          post_path(@post), method: :delete, data: { confirm: "Delete post?" } %><br>
</div>
<% end %>
<div class="btn-container">
  <%= link_to ('<small><span class="glyphicon glyphicon-menu-left"></span></small> All posts').html_safe, blog_path(@post.author.name) %><br>
</div>
