<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", root_path %>
| Logged out
| <%= link_to "Sign up", signup_path %>

<% if flash.notice %>
    <p><%= flash.notice %></p>
<% end %>

<%= yield %>

</body>
</html>
